<div class="pure-u-24-24">
  <div class="pure-controls">
    <%= button_tag type: 'submit', class: "pure-button pure-button-primary" do %>
      <i class="fa fa-check"></i> Save
    <% end %>
    <%= button_tag type: 'button', class: 'pure-button', title: 'Cancel changes and return to previous page', onClick: "history.back();" do %>
      Cancel
    <% end %>
  </div>
</div>


